body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu',sans-serif;
}

html{
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: rosybrown;
    /* width: 100%; */
    /* height: 60px; */
    position: sticky;
    /* top: 0; */
    
}

#login-button{
    margin-right: 2%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

#login{
    color: black;
    margin-right: 2%;
    font-weight: bold;
}

section{
    overflow: hidden;
}

.social-media-img{
    height: 20px;
    width: 22px;
}

#social-media{
    margin-right: 2%;
}

#contact-us{
    /* color: black; */
    margin-left: 2%;
    margin-top: 1%;
}

#copyright{
    font-size: 10px;
    font-weight: bold;
    margin-top: 7px;
}

footer{
    background-color: rosybrown;
    width: 100%;
    position: sticky;
    bottom: 0;
    height: 60px;
}

#footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
