#hotel-image{
    height: 500px;
    width: 500px;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

#information-inputs{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}

#hotel-information{
    margin-top: 1%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}
