#hotel-image{
    max-height: 350px;
    width: 500px;
    /* margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%; */
}

#information-inputs{
    width: 25%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 20px;
    padding-top: 50px;
    /* align-content: space-between; */
    /* height: 200px; */
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: 1px solid black;
    /* height: 400px; */

}
input{
    width: 60%;
}

#button{
    display: flex;
    justify-content: center;
    margin-left: 22px;
    margin-bottom: 30px;
}
.inputs{
    /* display: flex;
    justify-content: space-around; */
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
.inputs > label {
    /* padding: .1em 1em .1em 0; */
    /* padding-top: 5px; */

    flex: 1;
  }
  h5{
      font-family: cursive;
  }

#hotel-information{
    margin-top: 3%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}
#hotel-booking{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    padding: 10px;
    height: 400px;

}
#hotel-image-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black; */
    /* border: 1px solid black; */
    height: 400px;
    max-height: 400px;

}