.hotel-images{
    height: 200px;
    width: 250px;
}

.hotel-image-container{
    margin: 20%;
    margin-top: 3%;
    background-color: rgb(132,136,139);
    width: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 7%;
}
#hotel-images{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    gap: 10px;
    
}
#list-view{
    margin-top: 5%;
}

#list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

ul li{
    padding: 30px;
    padding-top: 12px;
    font-weight: bold;
}
#map-view{
    display: none;
}