.hotel-images{
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: left;
}

.hotel-image-container{
    background-color: lightgray;
    width: 550px;
    margin-left: 150px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}
.hotel-image-container:hover{
    background-color: rosybrown;
}
.hotel-info{
    padding-right: 30px;
    padding-top: 20px;
}
.hotel-info-3{
    padding: 20px;
    padding-right: 140px;
}
.hotel-image-list{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 20px;
    gap: 10px;
    
}
#list-view{
    margin-top: 1%;
}

#list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

ul li{
    padding: 30px;
    padding-top: 12px;
    font-weight: bold;
}
.checked {
    color: orange;
  }

.fa-star-half-o{
    color: orange;
}
section{
    overflow: hidden;
}