.loader{
    border: 12px solid #f3f3f3;
    border-top: 12px solid #444444;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
    position: absolute;
    left: 46%;
    top: 37%;
}