#hotel-image{
    max-height: 300px;
    max-width: 270px;
}

#hotel{
    display: flex;
    justify-content: space-between;
    background-color: rgb(132,136,139);
    width: 45%;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
#hotel-info{
   /* padding: 10px; */
   padding-right: 45px;
   padding-top: 30px;
   
}
#all-info{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rosybrown;
}
.heading{
    font-family: cursive;
}
section{
    overflow: hidden;
}