#hotel-image{
    height: 500px;
    width: 500px;
}

#hotel-information{
    
    background-color: rgb(132,136,139);
    width: 50%;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
#personal-information{
    margin: 2%;
}

#amount-details{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
#pay-now{
    margin-bottom: 6%;
}
section{
    height: 100%;
    overflow: scroll;
}